
@{
  Layout = "_Layout";
}

@using SweetSavory.ViewModels

@model SignInViewModel

  <h1>Sign in</h1>
  <hr/>
  
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.LabelFor(m => m.Email)
      @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
      <span data-valmsg-for="Email" data-valmsg-replace="true" class="text-danger"></span>
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.Password)
      @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
      <span data-valmsg-for="Password" data-valmsg-replace="true" class="text-danger"></span>  
    </div>

    <input type="submit" value="Sign in" class="btn btn-outline-dark"/>
  }

<p>@Html.ActionLink("Home", "Index", "Home")</p>